<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843473749436-37enrjerr38tu93mnsppa8vr6h6q3caq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843473749436-37enrjerr38tu93mnsppa8vr6h6q3caq</string>
	<key>API_KEY</key>
	<string>AIzaSyDEBU1D_DighM2t9oYfP2_nseBmaBcRuyk</string>
	<key>GCM_SENDER_ID</key>
	<string>843473749436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.uco.lholbrook1.se2.mobileHealthApp</string>
	<key>PROJECT_ID</key>
	<string>seii-mobile-health-app</string>
	<key>STORAGE_BUCKET</key>
	<string>seii-mobile-health-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843473749436:ios:3340d7a2b918bbe22d97b9</string>
</dict>
</plist>